#TopImg{
  position: relative;
  background: black;
  min-height: 500px;
  height: 100vh;
  background: linear-gradient(135deg, rgba(0, 0, 0, .2) 0,#002d77 100%);
  background: linear-gradient(135deg, rgba(0, 0, 0, .4) 0,#000 100%), url("https://fthmb.tqn.com/tOe11G2F7MZ_oG1sCMVC13CQsc8=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Prime-rib-GettyImages-183385067-5877cd7a5f9b584db35a7625.jpg");
  background-position: center;
  background-size: cover;

.title{
  padding: 200px 0 80px;
  text-align: right;

  h1 {
    font-family: $displayFont;
    text-transform: uppercase;
    color:white;
    font-weight: 300;
    font-size: 6rem;
  }

  h5 {
    text-transform: uppercase;
    color:white;
    font-weight: 300;
    text-align: right;
  }
}
.contact-info {
  width: 100%;
  position: absolute;
  bottom: 50px;
  right: 0;
  text-align: right;
  color: $paragraphColor;
  font-size: 0.8rem;
  line-height: 1.5rem;

  strong{
    font-weight: bold;
    color: white;
  }
  .booking {
    margin-bottom: 10px;
    color: $paragraphColor;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
  }

}

}
